<mat-card>
    <mat-card-header>
        <mat-card-title>Add Hardware</mat-card-title>
    </mat-card-header>

    <mat-form-field class="form-field" appearance="outline" >
        <mat-label >Environment Sensor</mat-label>
        <mat-select  formControlName="Hardware Type" required>
          <mat-option *ngFor="let environmentSensorType of environmentSensorTypes" [value]="environmentSensorType.value"> {{environmentSensorType.name}}</mat-option>
        </mat-select>
        
      </mat-form-field>

    </mat-card>